* {
	font-family: 'Roboto', sans-serif;
}

* {
	font-family: 'Lato', sans-serif;
}
 -webkit-text-size-adjust:100%;
 -ms-text-size-adjust:100%

/*------ HEADER ------*/

.body_home .header {
/*	max-height: 100px;*/
	background: white;
	/*background-color: lightgrey;*/
	/*border: 1px lightgrey;*/
	position: fixed;
	top: 0;
}

.header h1 {
	color: #ED5949;
	padding: 20px;
	font-size: 2.2em;
	position: fixed;
	margin-left: 6.5%;
	z-index: 1;
}

/*----- NAV BAR -----*/
.navbar {
	position: fixed;
	margin-left: 71%;
	text-align: right;
	padding: 20px;
}

nav ul {
	list-style: none;
}

nav ul li {
	display: inline-block;
	color: #ED5949;
	padding: 10px;
}

nav ul li a {
	margin: 5px;
	text-decoration: none;
	color: #ED5949;
	font-size: 1.2em;
}

.current-page {
	color: #bd473a;
	font-weight: bold;
	text-shadow: 4px 4px 2px rgba(189,71,58, 0.4);
}

.header img {
	width: 3.2%;
	height: 6%;
	padding: 20px;
	position: fixed;
	top: 0;
	margin-left: 2.7%;
}

.header nav ul li a:hover {
	color: #ecbc26;
	text-shadow: 4px 4px 2px rgba(165,131,26, 0.4);
}

/*--- Tablet View ---*/
@media screen and (max-width: 768px) {
	.header img {
		width: 4%;
		height: 4%
	}

	.header h1 {
	font-size: 1.6em;
	margin-left: 7.5%;

	}

	nav ul li a {
	font-size: 1.1em;
	line-height: 0.2;
	}
	
}


/*---Mobile View ---*/
@media (max-width: 320px) {

}

/*------ END HEADER ------*/


/*------ FOOTER ------*/

.foot_text {
	color: white;
	font-size: .8rem;
	text-align: center;
	padding: 10px;
}

.footer div a {
	color: white;
	text-decoration: none;
}

.footer div a:hover {
	color: dodgerblue;
}

.icons img {
	margin-bottom: 10px;
}

.icons img:hover {
	opacity: .5;
}

.footer {
	background: #ED5949;
	margin: 0;
	padding: 0;
	bottom: 0;
	width: 100%;
}

/*--- Tablet View ---*/
@media (max-width: 768px) {
	
}


/*---Mobile View ---*/
@media (max-width: 320px) {

}

/*------ END FOOTER ------*/


/*------ HOME BODY ------*/

.bio img { 
	border-radius: 15px;
	/*border: 2px solid rgba(237,89,73, 0.7);*/
	height: 25%;
	width: 25%;
	box-shadow: 3px 8px 3px rgba(0, 0, 0, 0.4);
}

.bio {
	text-align: center;
	padding: 9% 0 2% 0;
}

.bio p {
	color: white;
	padding-top: 1%;
	text-shadow: 0 0 3px rgba(0,0,0);
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	background: rgba(0,0,0, .3)
}

/*--- Project Previews ---*/

.projectpreviews p {
	/*display: inline-block;*/
	color: white;
	padding: .5% 0 4%;
	text-shadow: 4px 4px 2px rgba(0,0,0, 0.6);
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}

.projectpreviews {
	display: inline;
	text-align: center;
	padding: 70px;
}

.homecontent {
	background-image: url('../img/background5.jpg');
	background-size: cover;
}

#pimg1 {
	border-radius: 15px;
	box-shadow: 3px 8px 3px rgba(0, 0, 0, 0.4);

}

#pimg2 {
	border-radius: 15px;
	box-shadow: 3px 8px 3px rgba(0, 0, 0, 0.4);
}

#pimg3 {
	border-radius: 15px;
	box-shadow: 3px 8px 3px rgba(0, 0, 0, 0.4);
}

/*--- Tablet View ---*/
@media (max-width: 768px) {
	.projectpreviews p {
	color: white;
	padding: .5% 0 4%;
	text-shadow: 4px 4px 2px rgba(0,0,0, 0.6);
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	}

	.bio {
		padding: 20% 0 2% 0;
	}

	.bio img {
		height: 40%;
		width: 40%;
	}

	.bio p {
		width: 40%;
	}
	
}


/*---Mobile View ---*/
@media (max-width: 320px) {

}

/*------ END HOME BODY ------*/


/*------ ART BODY ------*/



.artP {
	text-align: center;
	color: rgba(0,0,0, .7);
	position: block;
	padding-top: 14%;
	max-width: 45%;
	margin-left: auto;
	margin-right: auto;
}

#artimg1 {
	height: 28.2%;
	width: 28.2%;
	border: 4px solid rgba(0,0,0, 0.7);
}

#artimg2 {
	height: 23%;
	width: 23%;
	border: 4px solid rgba(0,0,0, 0.7);
}

#artimg3 {
	height: 18%;
	width: 18%;
	border: 4px solid rgba(0,0,0, 0.7);
}

#artimg4 {
	height: 17.7%;
	width: 17.7%;
	border: 4px solid rgba(0,0,0, 0.7);
}

#artimg5 {
	height: 25%;
	width: 25%;
	border: 4px solid rgba(0,0,0, 0.7);
}

#artimg10 {
	height: 23.5%;
	width: 23.5%;
	border: 4px solid rgba(0,0,0, 0.7);
}

#artimg6 {
	height: 20%;
	width: 20%;
	border: 4px solid rgba(0,0,0, 0.7);
}

#artimg9 {
	height: 20%;
	width: 20%;
	border: 4px solid rgba(0,0,0, 0.7);
}

#artimg11 {
	height: 24%;
	width: 24%;
	border: 4px solid rgba(0,0,0, 0.7);
}

#artimg12 {
	height: 28%;
	width: 28%;
	border: 4px solid rgba(0,0,0, 0.7);
}

.artimages {
	position: center;
	text-align: center;
	padding-top: 6%;
	padding-bottom: 6%;
}

/*--- Tablet View ---*/
@media (max-width: 768px) {
	#artimg1 {
	height: 37%;
	width: 37%;
	border: 4px solid rgba(0,0,0, 0.7);
}

	#artimg2 {
		height: 30%;
		width: 30%;
		border: 4px solid rgba(0,0,0, 0.7);
	}

	#artimg3 {
		height: 24%;
		width: 24%;
		border: 4px solid rgba(0,0,0, 0.7);
	}

	#artimg4 {
		height: 26%;
		width: 26%;
		border: 4px solid rgba(0,0,0, 0.7);
	}

	#artimg5 {
		height: 32%;
		width: 32%;
		border: 4px solid rgba(0,0,0, 0.7);
	}

	#artimg10 {
		height: 30%;
		width: 30%;
		border: 4px solid rgba(0,0,0, 0.7);
	}

	#artimg6 {
		height: 29.5%;
		width: 29.5%;
		border: 4px solid rgba(0,0,0, 0.7);
	}

	#artimg9 {
		height: 26%;
		width: 26%;
		border: 4px solid rgba(0,0,0, 0.7);
	}

	#artimg11 {
		height: 34%;
		width: 34%;
		border: 4px solid rgba(0,0,0, 0.7);
	}

	#artimg12 {
		height: 38%;
		width: 38%;
		border: 4px solid rgba(0,0,0, 0.7);
	}

	.artimages {
		position: center;
		text-align: center;
		padding-top: 6%;
		padding-bottom: 6%;
	}
	.artimages {
		width: 100%;
	}
}


/*---Mobile View ---*/
@media (max-width: 320px) {

}

/*------ END ART BODY ------*/


/*------ CONTACT BODY ------*/

.contact_content {
	padding-top: 5%;
	padding-bottom: 2%;
	background: rgba(237,89,73, 0.3);
	text-align: center;
}

.contact_content h2 {
	padding: 5%;
}

.contact_content h3 {
	font-size: 1em;
	padding: 1%;
}

.input {
	margin: 2%;
	padding-bottom: 5%;
}

.contact_content img:hover {
	opacity: .5;
}

/*--- Tablet View ---*/
@media (max-width: 768px) {
	
}


/*---Mobile View ---*/
@media (max-width: 320px) {

}

/*------ END CONTACT BODY ------*/


/*------ PROJECTS BODY ------*/

.pptext {
	text-align: center;
	padding-top: 10%;
}

.ppimg {
	position: relative;
	max-width: 80%;
}

.ppimg img {
	position: relative;
	width: 18%;
	height: 18%;
	top: 30%;
	left: 20%;
	max-width: 50%;
	margin-right: auto;

	margin-bottom: 10%;
	margin: 5%;
}

#pimg4 {
	border-radius: 15px;
	box-shadow: 3px 8px 3px rgba(0, 0, 0, 0.4);
	width: 22%;
	height: 22%;
}

#pimg5 {
	border-radius: 15px;
	box-shadow: 3px 8px 3px rgba(0, 0, 0, 0.4);
	width: 22%;
	height: 22%;
}

#pimg6 {
	border-radius: 15px;
	box-shadow: 3px 8px 3px rgba(0, 0, 0, 0.4);
	width: 22%;
	height: 22%;
}

.current-project img {
	position: block;
	border-radius: 15px;
	box-shadow: 3px 8px 3px rgba(0, 0, 0, 0.4);
	width: 40%;
	height: 40%;
	left: 38%;
}

.current-project p {
	position: relative;
	left: 58%;
}

#currentp-blurb {
	text-align: center;
	left: 14%;
	padding-bottom: 2em;
}

/*--- Tablet View ---*/
@media (max-width: 768px) {
	.projects_content {
		padding-top: 20%;
	}

	.pptext {
		margin-left: auto;
		margin-right: auto;
		max-width: 70%;
	}

	.current-project img {
		width: 65%;
		height: 65%;
	}

	.current-project p {
		left: 57%;
	}

	#currentp-blurb {
		margin-left: auto;
		margin-right: auto;
		max-width: 70%;
		left: 16%;
		padding-bottom: 2em;
	}

	#pimg1 {
		border-radius: 15px;
		box-shadow: 3px 8px 3px rgba(0, 0, 0, 0.4);
		width: 33%;
		height: 33%;

	}

	#pimg2 {
		border-radius: 15px;
		box-shadow: 3px 8px 3px rgba(0, 0, 0, 0.4);
		width: 33%;
		height: 33%;
	}

	#pimg3 {
		border-radius: 15px;
		box-shadow: 3px 8px 3px rgba(0, 0, 0, 0.4);
		width: 33%;
		height: 33%;
	}

	#pimg4 {
		border-radius: 15px;
		box-shadow: 3px 8px 3px rgba(0, 0, 0, 0.4);
		width: 33%;
		height: 33%;
	}

	#pimg5 {
		border-radius: 15px;
		box-shadow: 3px 8px 3px rgba(0, 0, 0, 0.4);
		width: 33%;
		height: 33%;
	}

	#pimg6 {
		border-radius: 15px;
		box-shadow: 3px 8px 3px rgba(0, 0, 0, 0.4);
		width: 33%;
		height: 33%;
	}

		
	}


/*---Mobile View ---*/
@media (max-width: 320px) {

}

/*------ END PROJECTS BODY ------*/

* {
	margin: 0;
}